@model a_list_of_people.Models.People
<div style="color:blue">
    <div>The Oldest person is : @Model.Name.</div>
    <div> @Model.Name is: @Model.Age .</div>
    <img src="~/Images/16147_2.jpg" height="200" width="200" />

</div>






